.navbar{
    display:flex;
    flex-direction: row;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.navbar button{
    background-color: white;
    padding: 5px;

}
.about{
    
    padding:40px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#addAlbum{
    width:40%;
    border: 3px solid greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.Album{
    border: 3px solid red;
    background-color: whitesmoke;
    display:flex;
    flex-wrap: wrap;
}
.albums{
    border: 1px solid black;
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    margin: 10px;
}
.albums .details p{
    text-align: center;
}
.albums .details{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.albums .details .details-footer{
    
    display: flex;
    width:100%;
    justify-content: space-between;
    padding: 5px;
    
}