.navbar{
    display:flex;
    flex-direction: row;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.navbar button{
    background-color: white;
    padding: 5px;

}
.about{
    
    padding:40px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.users{
    border: 3px solid red;
    display: none;
    flex-wrap: wrap;
}


.user{
    border: 3px solid firebrick;
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.user button{
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 8px;
}
.message{
    
    text-align: center;
}

.search-field{
    display: flex;
    justify-content: center;
}